.NavBar {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: rgb(183 183 183);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
    text-decoration: underline;
}